# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
.vscode/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/

# Logs
logs/
*.log

# Git & Docs
.git/
.gitignore
README.md

# Docker/Compose 자체 제외 (이미 빌드 환경에서 제공)
docker-compose.yml
.dockerignore
Dockerfile

# 환경파일 (보안)
.env
src/main/resources/application.yml
src/main/resources/application.properties
src/main/resources/application-*.yml
src/main/resources/application-*.properties